/*
Error: Invalid CSS after "}": expected "}", was ""
        on line 964 of style.scss

959: }
960: // ここまで
961: 
962: .hidden{
963:   display:none;
964: }

Backtrace:
style.scss:964
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:1207:in `expected'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:1137:in `expected'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:1132:in `tok!'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:667:in `block'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:409:in `media_directive'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:222:in `special_directive'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:197:in `directive'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:684:in `block_child'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:677:in `block_contents'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:125:in `stylesheet'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/scss/parser.rb:41:in `parse'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/engine.rb:409:in `_to_tree'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/engine.rb:384:in `_render_with_sourcemap'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/engine.rb:301:in `render_with_sourcemap'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `each'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/lib/sass/plugin/compiler.rb:331:in `block in watch'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/home/ubuntu/.rvm/gems/ruby-2.6.3/gems/sass-3.4.25/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 964 of style.scss\A \A 959: }\A 960: // ここまで\A 961: \A 962: .hidden{\A 963:   display:none;\A 964: }"; }
